.actions {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.action {
    color: black;
}

.actionCard {
    background-color: transparent;
    box-shadow: none;
}

[data-theme='dark'] {
    .action {
        color: white;
    }
}